<div class="container">
  <h1 class="titulo-principal">¡Tu reserva ha sido realizada!</h1>
  <p>Tu viaje está confirmado y programado. Hemos enviado los detalles a tu correo.</p>

  <div class="grid-informacion" *ngIf="reserva">
    <div class="columna-izquierda">
      <div class="card-detalles">
        <h3 class="titulo-seccion">Detalles del Viaje</h3>
        <div class="info-items-grid">

          <div class="info-item">
            <div class="icono">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#915c1d" class="bi bi-geo-alt"
                viewBox="0 0 16 16">
                <path
                  d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
              </svg>
            </div>
            <div class="texto">
              <span class="etiqueta">Destino</span>
              <span class="valor">{{ reserva.viaje.destino }}</span>
            </div>
          </div>

          <div class="info-item">
            <div class="icono">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#915c1d" class="bi bi-calendar3"
                viewBox="0 0 16 16">
                <path
                  d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
                <path
                  d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
              </svg>
            </div>
            <div class="texto">
              <span class="etiqueta">Fecha y Hora</span>
              <span class="valor">{{ reserva.viaje.fechaSalida | date:'dd MMM yyyy' }}</span>
            </div>
          </div>

          <div class="info-item">
            <div class="icono">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#915c1d" class="bi bi-car-front-fill"
                viewBox="0 0 16 16">
                <path
                  d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2z" />
              </svg>
            </div>
            <div class="texto">
              <span class="etiqueta">Vehículo</span>
              <span class="valor">#{{ reserva.viaje.automovil.numeroAutomovil }}</span>
            </div>
          </div>

          <div class="info-item">
            <div class="icono">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#915c1d" class="bi bi-people-fill"
                viewBox="0 0 16 16">
                <path
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
              </svg>
            </div>
            <div class="texto">
              <span class="etiqueta">Pasajero</span>
              <span class="valor">{{ reserva.usuario.nombre + ' ' + reserva.usuario.apellidos }}</span>
            </div>
          </div>

        </div>
      </div>

      <div class="caja-id-reserva">
        <h3 class="titulo-id">ID de Reserva</h3>
        <p class="numero-id">{{ reserva.idReserva }}</p>
      </div>
    </div>

    <div class="columna-derecha">
      <div class="card-puesto">
        <span class="etiqueta-puesto">PUESTO ASIGNADO</span>
        <h2 class="numero-puesto">{{ reserva.puestoAsignado }}</h2>
      </div>

      <div class="card-total">
        <span class="titulo-total">Total a Pagar</span>
        <span class="precio-total">{{ reserva.totalPagar | currency:'COP':'symbol':'1.0-0' }}</span>
      </div>

      <div class="acciones">
        <button class="btn-primario" (click)="irAMisViajes()">
          {{ esAdmin ? 'Volver a Gestión' : 'Ir a Mis Viajes' }}
        </button>

        @if (!esAdmin) {
        <button class="btn-secundario" (click)="nuevaReserva()">
          Nueva Reserva
        </button>
        }
      </div>
    </div>
  </div>
</div>